# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
get_code.code-workspace
*.run

.vscode
cmd/fileserver/fileserver
cmd/jjson/jjson
cmd/getcode/getcode
cmd/internalip/internalip
cmd/mip/mip
cmd/pping/pping
cmd/reptile/reptile
cmd/reptile/reptile.exe
