# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
get_code.code-workspace
*.run

.vscode
cmd/fileserver/fileserver
cmd/jjson/jjson
cmd/getcode/getcode
cmd/internalip/internalip
cmd/mip/mip
cmd/pping/pping
cmd/reptile/reptile
cmd/reptile/reptile.exe
cmd/mail/mail.exe
cmd/ccrontab/ccrontab

docker/nsq/nsq/nsq_stat
docker/nsq/nsq/nsq_tail
docker/nsq/nsq/nsq_to_file
docker/nsq/nsq/nsq_to_http
docker/nsq/nsq/nsq_to_nsq
docker/nsq/nsq/nsqadmin
docker/nsq/nsq/nsqd
docker/nsq/nsq/nsqlookupd
docker/nsq/nsq/to_nsq

.DS_Store
cmd/.DS_Store
cpp/main
cpp/main.dSYM

shell/*.txt

nodejs/hello/node_modules

